<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".model.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Comicapp"
        tools:targetApi="31">
        <activity
            android:name=".author.manage.edit.EditChapter"
            android:exported="false" />
        <activity
            android:name=".author.manage.edit.EditStory"
            android:exported="false" />
        <activity
            android:name=".author.manage.add.AddChapter"
            android:exported="false" />
        <activity
            android:name=".author.manage.add.AddStory"
            android:exported="false" />
        <activity
            android:name=".author.AuthorActivity"
            android:exported="false" />
        <activity
            android:name=".authen.ManDangky"
            android:exported="false" />
        <activity
            android:name=".authen.ManDangnhap"
            android:exported="false" />
        <activity
            android:name=".start_page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".reader.MainActivity"
            android:exported="true" />
    </application>

</manifest>